<div layout="column" flex>
    <div layout="row" layout-sm="column" layout-align="space-around">
          <md-progress-circular ng-disabled="!vm.loading" ng-if="vm.loading" md-mode="indeterminate"></md-progress-circular>
    </div>
    <form 
		layout="row" 
		autocomplete="off" 
		ng-submit="vm.changePassword($event)">
        <div flex="20"></div>

        <!-- Editar Profile-->
        <md-content flex layout-padding>
            
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">
                           
                            Alterar Sena - {{vm.user.name}}

                        </span>
                    </md-card-title-text>
                    <md-card-content>
                        <div layout="column" >
                            <md-input-container flex> <label>Sua Senha</label>
                                <input type="password"
                                       aria-label="Sua Senha"
                                       ng-model="vm.user.oldPassword"/>
                            </md-input-container>
                            
                            <md-divider></md-divider>
                            
                                <md-input-container flex> <label>Nova Senha</label>
                                    <input type="password"
                                           aria-label="Nova Senha"
                                           ng-model="vm.user.newPassword"/>
                                </md-input-container> 

                                <md-input-container flex> <label>Confirmar Nova Senha</label>
                                    <input type="password"
                                           aria-label="Confirmar Nova Senha"
                                           ng-model="vm.user.confirmNewPassword"/>
                                </md-input-container> 
                            
                        </div>
                    </md-card-content>
                <md-card-actions layout="row" layout-align="end center">
                    
                    <md-button 
						class="md-icon-button"  
						aria-label="Salvar" 
						type="submit">
                        <md-icon>done</md-icon>
                        <md-tooltip md-direction="left">
                                Salvar
                        </md-tooltip>
                    </md-button>
                    
                </md-card-actions>
            </md-card>
        </md-content>
        <div flex="20"></div>
    </form>
</div>