<div layout="column" flex>
    <div layout="row" layout-sm="column" layout-align="space-around">
          <md-progress-circular ng-disabled="!vm.loading" ng-if="vm.loading" md-mode="indeterminate"></md-progress-circular>
    </div>
    <form 
		layout="row"
		autocomplete="off" 
		ng-submit="vm.send($event)">
		
        <div flex="20"></div>
            <md-content flex layout-padding >
                <md-card>
                    <md-card-title>
                        <md-card-title-text>
                            Resetar senha
                        </md-card-title-text>
                    </md-card-title>

                    <md-card-content>
                        <div layout="column" >
                            <md-input-container flex> 
                                <label>Senha</label>
                                <input type="password"
                                       aria-label="Senha" 
                                       ng-model="vm.dto.password"/>
                            </md-input-container>

                            <md-input-container flex> 
                                <label>Confirmar Senha</label>
                                <input type="password"
                                       aria-label="Confirmar Senha" 
                                       ng-model="vm.dto.confirmPassword"/>
                            </md-input-container>
                        </div>
                    </md-card-content>

                    <md-card-actions layout="row" layout-align="end center">
                        <md-button 
                            class="md-icon-button"  
                            aria-label="Enviar" 
                            type="submit">
                            <md-icon>done</md-icon>
                            <md-tooltip md-direction="left">
                                Enviar
                            </md-tooltip>
                        </md-button>
                    </md-card-actions>
                </md-card>
            </md-content>
        <div flex="20"></div>
    </form>
</div>