<md-dialog aria-label="Formulário Usuário">
	<form 
		md-dialog 
		layout="column" 
		layout-padding 
		ng-init="row = vm.row"
		ng-submit="vm.answer(row)">
    	<md-toolbar>
    		Alterar Senha - {{row.name}}
		</md-toolbar>
		<md-dialog-content>
                        
                            <md-input-container flex> <label>Sua Senha</label>
                                <input type="password"
                                       aria-label="Sua Senha"
                                       ng-model="row.oldPassword"/>
                            </md-input-container>
                            
                            <md-divider></md-divider>
                            
                                <md-input-container flex> <label>Nova Senha</label>
                                    <input type="password"
                                           aria-label="Nova Senha"
                                           ng-model="row.newPassword"/>
                                </md-input-container> 

                                <md-input-container flex> <label>Confirmar Nova Senha</label>
                                    <input type="password"
                                           aria-label="Confirmar Nova Senha"
                                           ng-model="row.confirmNewPassword"/>
                                </md-input-container> 
                            
		</md-dialog-content>
		<md-dialog-actions layout="row">        
                    
                    <md-button 
                    	class="md-icon-button"
                    	aria-label="Salvar"  
                    	type="submit">
                    	
	                        <md-icon>done</md-icon>
	                        <md-tooltip md-direction="left">
	                                Salvar
	                        </md-tooltip>
                    </md-button>
		</md-dialog-actions>
	</form>
</md-dialog>
              